#container_fot_text{
    border: 1px solid rgb(218, 215, 215);
    margin-left: 15%;
    display: flex;
    justify-content: center;
    width: 70%;
}

#container_fot_text img {
    width: 500px;
    height: 400px;
    margin: 20px 10px ;
    border: 1px solid rgb(83, 81, 81);
}

.infor {
    margin-top: 80px;
    margin-left: 50px;
}

.bnt-a {
    margin: 20px;
    font-size: 1.3rem;
}

.bnt-a:hover {
    color:red ;
}

@media screen and (max-width:767px){
    
    #container_fot_text{
        display: block;
    }

    #container_fot_text img {
        width: 230px;
        height: 250px;
        margin-left:9px;
    }

    .infor {
        margin-top: 0px;
        margin-left: 10%;
    }
}