*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4ebf7;
}


#container_inicio {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px 0px;
}

.icone_one {
    display: flex;
    
}

.icone_one img {
    margin-right: 20px;
}

.icone_one p {
    font-size: 2rem;
    font-weight: bold;
    font-family:cursive;
    margin-top: 13px;
    color: rgb(6, 6, 168);
    
}

input{
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 30px;
    outline: none;
    padding-left: 25px;
    background-color: #f2f6fc;
}

::placeholder {
    padding-left: 10px;
}

#search-txt {
    border: 1px solid rgb(190, 180, 180);
    border-radius: 15px;
    background-color: #f7f4f5;
}

.fa-solid  {
    margin-right: 10px;
}

.fa-magnifying-glass {
    color: darkgray;
    margin-left: -26px;

}

.button {
    border-radius: 15px;
    width: 100px;
    height: 30px;
    border: 1px solid rgb(209, 197, 197);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    
}

#logotipo {
    width: 100%;
    margin-bottom: 50px;
}

#logotipo img {
    width: 100%;
    
}

.txt_logo {
    position: absolute;
    margin-top: -190px;
    margin-left: 50%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.txt_logo p {
    text-align: center;
    font-size: 1.7rem;
}

.txt_logo button {
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 10px;
    margin-left: 32%;
    margin-top: 10px;
    background-color: yellow;
}

#roupa_menina, #roupa_menino, #calcados {
    width: 90%;
    margin: auto;
    
}

#roupa_menina img, #roupa_menino img, #calcados img {
    width: 250px;
    height: 200px;
    border: 1px solid rgb(114, 110, 110);
    margin-bottom: 10px;
    margin-top: 50px;
}

#roupa_menina h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #EB0F71;
    text-shadow: 5px 5px 5px rgb(223, 226, 14);
}

#roupa_menino h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: rgb(0, 4, 255);
    text-shadow: 5px 5px 5px rgb(223, 226, 14);

}

#calcados h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: rgb(6, 119, 34);
    text-shadow: 5px 5px 5px rgb(223, 226, 14);
}

#container_femi,#container_masc, #container_calcados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#container_femi p {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 8px;
}

#container_femi a {
    font-size: 1.2rem;
    color: blue;
    margin-left: 32%;
    
}

#container_femi a:hover {
    background-color:#EB0F71;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px;
    text-decoration: none;
}

#container_masc p {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 8px;
}

#container_masc a {
    font-size: 1.2rem;
    color: blue;
    margin-left: 32%;
    
}

#container_masc a:hover {
    background-color:rgb(0, 4, 255);
    color: #fff;
    font-size: 1.2rem;
    padding: 5px;
    text-decoration: none;
}

#container_calcados p {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 8px;
}

#container_calcados a {
    font-size: 1.2rem;
    color: blue;
    margin-left: 32%;
    
}

#container_calcados a:hover {
    background-color:rgb(6, 119, 34);
    color: #fff;
    font-size: 1.2rem;
    padding: 5px;
    text-decoration: none;
}

#last_box {
    background-color: rgb(201, 222, 235);
    padding: 40px 0px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.final_icon {
    display: flex;
}

.final_icon img {
    height: 50px;
    margin-right: 10px;
}

.final_icon p {
    color: blue;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.text {
    color: rgb(94, 90, 90);
    line-height: 25px;
    margin-top: 10px;
}

.form h2 {
    text-align: center;
}

.form input, textarea {
    width: 100%;
    border-radius: 0;
    border: none;
    margin: 10px;
    outline: none;
}

.form textarea {
    padding-left: 15px;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.form button {
    background-color: #2d78db;
    border: none;
    width: 50%;
    margin-left: 10px;
    font-weight: bold;
    padding: 7px;
    color: #fff;
}

footer h3 {
    color: rgb(117, 115, 115);
    text-align: center;
    padding: 20px;
}

#session {
    border: 3px solid red;
}



@media screen and (max-width:767px){

    #container_inicio {
        display: block;
    }

    .icone_one img {
        margin-left: 20%;
        margin-bottom: 10px;
    }

    #search-txt {
        width: 350px;
        margin-left: 10px;
    }

    .button {
        margin-top: 10px;
        margin-left: 35%;
    }

    .txt_logo{
        font-size: 1rem;
        margin-top: -100px;
    }

    .txt_logo p {
        font-size: 1rem;
        margin-left: -10px;
    }

    .txt_logo button {
        padding: 2px;
        font-size: 1rem;
        padding: 3px;
        margin-left: 20%;
    }

    #last_box {
        display: block;
    }

    .final_icon {
        margin-left: 28%;
    }

    .text {
        text-align: center;
        margin: 20px;
    }

    .form input, textarea {
        width: 80%;
        margin-left: 10%;
    }

    .form button {
        margin: auto;
    }



}


